

.container{
    background-color:red;
    margin: 0% 40% 0% 40%;

    h1{
        display:block;
        background-color:blue;
        text-align: center;
    }

    form{
       display:block;
       background-color:gray;
       padding: 0% 10% 5% 10%;

       input,label{
             width: 100%;
      }

      .login{
          margin-top: 1em;
          width: 100%;
      }
   }
}


input,label{
    display: block;
}